name: Build and Push Docker Containers

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          - context: ./app/nodejs
            dockerfile: ./app/nodejs/Dockerfile
            image: ghcr.io/${{ github.repository_owner }}/poc-portainer-gitops
          - context: ./app/php
            dockerfile: ./app/php/Dockerfile
            image: ghcr.io/${{ github.repository_owner }}/poc-portainer-gitops
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels)
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ matrix.container.image }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ${{ matrix.container.context }}
        file: ${{ matrix.container.dockerfile }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}